h1{
    color: rgb(201, 138, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffeadb;
    padding: 20px;
    margin-right: 150px;
}
form.form{
    display: table;
}
.letraform{
    color: #000003;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.recuadro{
    font-size: 15px;
    margin-bottom: 15px;

}
label{
    padding-right: 5px;
}
.boton{
    color: rgb(235, 29, 2);
    background-color: rgb(228, 215, 215);
    
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7c5a8;
    padding: 25px;
    width: 35%;
    margin: 10px;
}
ol{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7c5a8;
    padding: 25px;
    width: 35%;
    margin: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
